@import './colorCode.css';
.full-height{
  height: 100vh;
}
.left-panel {
  flex: 0 0 15%;
  /* flex-grow: 0, flex-shrink: 0, flex-basis: 30% */
  background-color: var(--bg-dark-rgb);
  /* background-color: rgba(var(--bs-dark-rgb), 1) !important; */

  /* Optional: Set background color */
  padding: 10px;
  /* Optional: Add padding */
  overflow-y: auto;
}

/* Increase the width to 20% at screens wider than 768px */
/* @media (min-width: 268px) {
  .left-panel {
    flex: 0 0 30%;
  }
} */
.vertical-animation {
  flex: 0 0 0.2%;
  /* flex-grow: 0, flex-shrink: 0, flex-basis: 30% */
  background-color: var(--bg-white);
  /* Optional: Set background color */
  
  /* Optional: Add padding */
}

.right-panel {
  flex: 1;
  /* Takes up remaining space */
background-color: var(--bg-dark-rgb);
  /* Optional: Set background color */
  padding: 10px;
  overflow-y: auto;
  /* Optional: Add padding */
}

.custom-list-item{
  background-color: var(--bg-dark-rgb) !important;
  color:var(--bg-white) !important;
  border: unset !important;
}

.custom-list-item:hover {
  background-color: var(--bg-white)!important ;
  color: var(--bg-dark-rgb) !important ;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  cursor: pointer;
  
}


.card-layout{
      display: 'flex';
      flex-direction: 'column';
      align-items: 'center';
      height: 24rem;
      width: 18rem;
}

.firework-card {
  position: relative;
  background-color: #f8f9fa;
  border: none;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.firework-card:hover {
  transform: scale(1.05);
}
/* scroll color change css - its not working right now */
:-webkit-scrollbar {
  width: 102px;
  /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  /* background-color: var(--scrollbar-thumb); */
  background-color: #fbfcfe;
}

::-webkit-scrollbar-track {
  /* background-color: var(--scrollbar-track); */
  background-color: #fbfcfe;
}

/* animation class*/
/* Define the keyframe animation for the pipe light */
@keyframes verticalLightAnimation {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 0%;
  }
}

/* Apply the animation to the element with the pipe-light class */
.vertical-light-animation {
  width: 100%;
  height: auto;
  background: linear-gradient(to right bottom, red, orange, yellow, green, blue, indigo, violet, red);
  background-size: 1600% 100%;
  animation: verticalLightAnimation 10s linear infinite;
}
